* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}
/* regole contenitore padre */
.container {
  width: 600px;
}

/* applico altezza alle righe*/
.raw {
  height: 20vh;
}

/* applico relative a tutti gli elementi con col- */
[class*="col-"]{
  position: relative;
  background-color: pink;
  border: 1px solid violet;
  height: 100%;
}

/* seleziono i container all'interno di altri contaier */
[class*="col-"] > .raw{
  height: 100%;
  padding: 10px;
}

/* seleziono i le colonne nei container figli di altri container */
/* [class*="col-"] > .container [class*="col-"] {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
} */
[class*="col-"] > span {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
