* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}

.box1 {
height: 20%;
background-color: pink;
border: 1px solid violet;
}

.box2 {
height: 100%;
background-color: violet;
border: 1px solid white;
}

.padbox {
  padding:1%;
}

p {
  line-height: 100px;
  text-align: center;
}
